{% extends "fr-base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href=" {% static 'styles/theriver_main_styles.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/about.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/responsive.css' %} ">
{% endblock %}

{% block extra_header %}
		<li  class="active"><a href="{% url 'frindex' %}">Index</a></li>
		<li><a href=" {% url 'frrooms' %} ">Chambres</a></li>
		<li><a href="{% url 'frdiscover' %}">Découvrez</a></li>
		<li><a href="#ubicacion">Localisation</a></li>
{% endblock %}

{% block body_block %}
<div class="super_container">



	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url( {% static 'images/hall1.jpg' %} )"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">Hôtel Ciudad de Logroño ⭑⭑⭑</div>
							<a href="#promocion">
							<div class="home_title2">Découvrez les avantages de la réservation sur notre site web</div>
							</a>

							<div class="booking_form_container">

								<form action="https://reservations.travelclick.com/114062" method="get" name="resform" id="resform" target="_blank">
										<input type="hidden" name="HotelID" value="114062" />
										<input type="hidden" name="LanguageID" value="1" />
										<input type="hidden" name="Rooms" value="1" />
										<input type="hidden" name="discount" value="directbooking" />

                                        <!--<input type="hidden"  name="RatePlanId"  value="5510004" />-->

									<label for="pick_date"> </label>
									<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
										<div class="booking_input_container d-flex flex-row align-items-start justify-content-start flex-wrap">
											<div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Arrivée / Check in"
												value=.pruebafecha name="DateIn" id="DateIn"></div>
											<div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Départ / Check out"
												value="{{ fecha_salida }}" name="DateOut"></div>
											<div><input type="number" class="booking_input booking_input_b" placeholder="Adultes"
												value="{{ num_adultos }}" name="Adults"></div>
											<div><input type="number" class="booking_input booking_input_b" placeholder="Enfants"
												value="{{ num_ninos }}" name="Children"></div>
										</div>
										<div class="booking_button_container1"><button class="booking_button trans_200"  type="submit" value="Submit">Disponibilité</button></div>
										<div class="booking_button_container2"><button class="booking_button trans_200"  type="submit" value="Submit">Disponibilité</button></div>
									</div>
								</form>



							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Gallery -->
	<div class="gallery">
		<div class="gallery_slider_container">
			<div class="owl-carousel owl-theme gallery_slider">

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/workspace.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/workspace.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/recepcion.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/recepcion.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/entrada1.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/entrada1.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/desayuno1.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/desayuno1.jpg' %} "></a>
				</div>



				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/habitacion1.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/habitacion1.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/recepcion1.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/recepcion1.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/hall1.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/hall1.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/entrada2.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/entrada2.jpg' %} "></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url( {% static 'images/habitacion3.jpg' %} )"></div>
					<a class="colorbox" href=" {% static 'images/habitacion3.jpg' %} "></a>
				</div>

			</div>
		</div>
		<a style="margin-top: 40px" id="promocion"></a>
	</div>

	<!-- About -->

	<div class="about">

		<div class="container">
			<div class="row">

				<div class="col-xl-6 order-xl-1 order-1">
					<div class="about_title"><h1>Avantages de réserver avec nous</h1></div>




				<!-- About Content -->

					<!-- <div class="about_images d-flex flex-row align-items-start justify-content-between flex-wrap">
						<div class="about_title"><h3>Garantía de precio mínimo</h3></div>
						<div class="about_title"><h3>Desayuno incluido</h3></div>
						<div class="about_title"><h3>Cancelación gratuita</h3></div>
						<div class="about_title"><h3>Sin pagos por adelantado</h3></div>
					</div>-->
					<div class="about_content">
						<div class="about_text">
							<p>Promotion applicable aux réservations directes : vous pouvez nous écrire un e-mail, réserver par téléphone ou réserver sur notre site web.</p>
						</div>
						<!--<div class="about_sig"><img src=" {% static 'images/sig.png' %} " alt=""></div>-->
					</div>
				</div>

				<!-- About Images
				<div class="col-lg-6">
					<div class="about_images d-flex flex-row align-items-start justify-content-between flex-wrap">
						<img src=" {% static 'images/about_1.png' %} " alt="">
						<img src=" {% static 'images/about_2.png' %} " alt="">
						<img src=" {% static 'images/about_3.png' %} " alt="">
					</div>
				</div>-->


				<div class="col-xl-6 order-xl-2 order-2">
					<div class="about_content" style="margin-top: 0px; margin-left:10px">
						<div class="box justify-right" style="margin-top: 15px; margin-left:10px">

							<div class="popover1" align="right"><a class="textbox" tabindex="0" data-toggle="popover" placement="center" ><h3 align="right">10% de réduction sur notre prix</h3> </a></div>
							<!--<div class="icon-home"><img  src=" {% static 'images/icon-price1.svg' %} "> </div>-->
						</div>
					<div class="box" style="margin-top: 15px; margin-left:10px" >

						<div class="popover2"><a class="textbox"  tabindex="0" data-toggle="popover" data-container=".well" data-trigger="focus" ><h3> Petit-déjeuner inclus</h3> </a></div>
						<!--<div  class="icon-home"><img  src=" {% static 'images/icon-breakfast1.svg' %} "></div>-->
					</div>
					<div class="box" style="margin-top: 15px; margin-left:10px">

						<div class="popover3"><a class="textbox"  tabindex="0" data-toggle="popover"  data-trigger="focus" placement="up"> <h3>Annulation gratuite (48h)</h3> </a></div>
						<!--<div class="icon-home"><img  src=" {% static 'images/icon-cancelation3.svg' %} "></div>-->
					</div>
					<div class="box" style="margin-top: 15px; margin-left:10px">

						<div class="popover4"><a class="textbox"  tabindex="0" data-toggle="popover"  data-trigger="focus" placement="up"> <h3>Pas de paiement anticipé</h3></a></div>
						<!--<div class="icon-home"><img  src=" {% static 'images/icon-payment1.svg' %} "></div>-->
					</div>
					</div>
				</div>

		</div>

	</div>
	</div>

	<!-- Features

	<div class="features" style= "padding-top: 40px">
		<div class="container">
			<div class="row">

				<!-- Icon Box
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src=" {% static 'images/icon-descansa2.svg' %} " class="svg" alt="https://img-premium.flaticon.com/png/512/2206/2206554.png?token=exp=1621269511~hmac=a95f7545fc0c65dfff0f79a0044d3bb4"></div>
						<div class="icon_box_title"><h2>Descanse</h2></div>
						<div class="icon_box_text">
							<p>Nuestras amplias habitaciones le ofrecerán las mejores condiciones para su descanso. Un fantástico desayuno buffett le estará esperando al despertar para comenzar el día de un modo inmejorable.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src=" {% static 'images/icon-trabaja1.svg' %} " class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Trabaje</h2></div>
						<div class="icon_box_text">
							<p>Si necesita trabajar, le invitamos a hacerlo en el salón del hotel y utilizar nuestra red Wi-Fi con total comodidad. El café o té corre por nuestra cuenta.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src=" {% static 'images/icon-disfruta1.svg' %} " class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Disfrute</h2></div>
						<div class="icon_box_text">
							<p>Nuestra ubicación es perfecta para disfrutar de todo cuanto Logroño tiene que ofrecer. Situado cerca de la principal zona comercial de la ciudad, rodeado de excelentes bares de tapas, ¡y a 700 metros del casco antiguo y la calle Laurel!</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>-->

	<!-- Testimonials -->
	<div >
		<a id="testimonials"></a>
	</div>
	<div class="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src=" {% static 'images/buffett1.jpg' %} " data-speed="0.8"></div>
		<div class="testimonials_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_title" style="text-align:center; font-size: 30px;
					font-weight: 500;
					color: #abbaaa"><a   href="">Commentaires de nos clients</a></div>
					<p></p>
					<!-- Begin widget code -->
					<div data-rw-slider="23292"></div>
					<script>var script = document.createElement("script");script.type = "module";script.src = "https://widgets.thereviewsplace.com/2.0/rw-widget-slider.js";document.getElementsByTagName("head")[0].appendChild(script);</script>
					<!-- End widget code -->

			</div>
		</div>
	</div>
		</div>
	<!-- About -->

	<div class="about" id="ubicacion">
		<div class="container">
			<div class="row">

				<!-- About Content -->
				<div class="col-lg-6">
					<div class="about_content">
						<div class="about_title"><h2>Au cœur de Logroño</h2></div>
						<div class="about_text">
							<p>L'emplacement de l'hôtel offre toutes sortes de possibilités, puisqu'il se trouve à quelques pas de la gare ferroviaire, de la gare routière, de la vieille ville, des meilleurs quartiers commerçants et, bien sûr, de la célèbre rue Laurel, située à seulement 700 mètres.</p>
						<a href="https://www.google.com/maps/dir//42.4603938,-2.4478493/@42.460391,-2.447837,17z?hl=es" target="_blank"><button type="button" class="btn btn-primary">Obtenir des indications sur Google Maps</button></a>


						<!-- Milestones-->
						<div class="milestones_container d-flex flex-row align-items-start justify-content-start flex-wrap">

							<!-- Milestone-->
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_content">
									<a href="https://www.google.com/maps/dir/42.4603938,-2.4478493/42.4655602,-2.4475056/@42.4629168,-2.4522089,16z/data=!4m2!4m1!3e2?hl=es" target="_blank">
									<div class="milestone_counter"  data-end-value="700"  data-sign-after="m">650</div>
									<div class="milestone_title">Laurel Street</div></a>
								</div>
							</div>

							<!-- Milestone-->
							<div class="milestone2 d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_content">
									<a href="https://www.google.es/maps/dir/Hotel+Ciudad+de+Logro%C3%B1o,+Calle+Men%C3%A9ndez+Pelayo,+Logro%C3%B1o/42.464338,-2.4466285/@42.4636526,-2.4529556,15.5z/data=!4m9!4m8!1m5!1m1!1s0xd5aab4432e4008b:0x8e3ef3622e2f786d!2m2!1d-2.4478493!2d42.4603938!1m0!3e3?hl=es" target="_blank">
									<div class="milestone_counter" data-start-value="100" data-end-value="600"  data-sign-after="m">450</div>
									<div class="milestone_title">'Plaza del Espolón'</div></a>
								</div>
							</div>

							<p><strong>Addresse:</strong> C/ Menéndez Pelayo 7, 26002, Logroño, La Rioja</p>

						</div>

						</div>

					</div>


				</div>

				<!-- About Images -->
				<div class="col-lg-6">
					<div class="about_images d-flex flex-row align-items-center justify-content-between flex-wrap">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1237.574741092586!2d-2.448873288185603!3d42.4603900335879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5aab4432e4008b%3A0x8e3ef3622e2f786d!2sHotel%20Ciudad%20de%20Logro%C3%B1o!5e0!3m2!1ses!2ses!4v1621264393418!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Split Section Right -->

	<div class="split_section_right container_custom">
		<div class="container">
			<div class="row row-xl-eq-height">

				<div class="col-xl-6 order-xl-1 order-2">
					<div class="split_section_image">
						<div class="background_image" style="background-image:url( {% static 'images/workspace.jpg' %} )"></div>
					</div>
				</div>

				<div class="col-xl-6 order-xl-2 order-1">
					<div class="split_section_right_content">
						<div class="split_section_title"><h1 style="font-size: 52px;">Parfait pour les voyages d'affaires</h1></div>
						<div class="split_section_text">
							<p>Nos chambres spacieuses et le parc tranquille situé devant l'hôtel vous garantiront une bonne nuit de sommeil. Si vous êtes venu pour travailler ou pour organiser une réunion, vous pouvez utiliser notre salon, où vous pouvez connecter votre ordinateur portable et utiliser notre WiFi. Vous recherchez une atmosphère plus détendue ? Essayez notre bar lumineux.</p>
						</div>

						<!-- Loaders -->
						<div class="loaders_container d-flex flex-row align-items-start justify-content-start flex-wrap">

							<!-- Loader -->
							<div class="loader_container text-center">

								<div class="loader text-center" data-perc="0.92">
									<div class="loader_content">
										<div class="loader_title" style="margin-top:5px"><div class="popover5"><a  tabindex="0" data-toggle="popover" placement="center" ><p>Service</p> </a></div></div>
									<img class="icongoogle" src=" {% static 'images/icon-google3.png' %} " alt="">
									</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container text-center">

								<div class="loader text-center" data-perc="0.9">
									<div class="loader_content">
										<div class="loader_title" style="margin-top:10px"><div class="popover6"><a  tabindex="0" data-toggle="popover" placement="center" ><p>Business</p> </a></div></div>
									<img  class="iconexpedia" src=" {% static 'images/icon-expedia4.png' %} " alt="">
									</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container text-center">
								<div class="loader text-center" data-perc="0.97">
									<div class="loader_content">
										<div class="loader_title" style="margin-top:10px"><div class="popover7"><a  tabindex="0" data-toggle="popover" placement="center" ><p>Localisation</p> </a></div></div>
									<img class="icontrip" src=" {% static 'images/icon-tripadvisor3.png' %} " alt=""></a>
									</div>
								</div>
							</div>

						</div>

					</div>


					</div>
				</div>

			</div>
		</div>


	<!-- Split Section Left -->

	<div class="split_section_left container_custom">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="split_section_left_content">
						<div class="split_section_title"><h1 style="font-size: 60px;">Logroño, capitale de La Rioja</h1></div>
						<div class="split_section_text">
							<p>Faites des excursions confortables d'une journée depuis notre hôtel vers n'importe quel point de notre région et profitez de la variété gastronomique et paysagère de La Rioja, ainsi que de son offre œnotouristique multiple.</p>
						</div>

						<div class="container">
							<a href="https://lariojaturismo.com/fr" target="_blank"><button type="button" class="btn btn-primary" >La Rioja Turismo</button></a>
						</div>

					</div>
				</div>

				<!-- Loaders Image -->
				<div class="col-xl-6">
					<div class="split_section_image split_section_left_image">
						<div class="background_image" style="background-image:url( {% static 'images/logrono1.jpg' %} )"></div>
					</div>
				</div>

			</div>
		</div>
	</div>







<style>.popover { height:50px !important; width: 600px; }</style>
<script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src=" {% static 'styles/bootstrap-4.1.2/popper.js' %} "></script>
<script src=" {% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %} "></script>
<script src=" {% static 'plugins/greensock/TweenMax.min.js' %} "></script>
<script src=" {% static 'plugins/greensock/TimelineMax.min.js' %} "></script>
<script src=" {% static 'plugins/scrollmagic/ScrollMagic.min.js' %} "></script>
<script src=" {% static 'plugins/greensock/animation.gsap.min.js' %} "></script>
<script src=" {% static 'plugins/greensock/ScrollToPlugin.min.js' %} "></script>
<script src=" {% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %} "></script>
<script src=" {% static 'plugins/easing/easing.js' %} "></script>
<script src=" {% static 'plugins/progressbar/progressbar.min.js' %} "></script>
<script src=" {% static 'plugins/parallax-js-master/parallax.min.js' %} "></script>
<script src=" {% static 'plugins/jquery-datepicker/jquery-ui.js' %} "></script>
<script src=" {% static 'plugins/colorbox/jquery.colorbox-min.js' %} "></script>
<script src=" {% static 'js/about.js' %} "></script>
<script src=" {% static 'js/custom.js' %} "></script>




<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    container: '.well'
  });
});
</script>



<script>
	var elem1 = '<div class="textbox"><a href=""><p1>Si vous trouvez un prix inférieur à celui proposé sur notre site web pour les mêmes dates, veuillez nous contacter.</p1></a></div>';
$(document).ready(function(){
  $('.popover1').popover({content: elem1, trigger:"focus", html: true});
});
</script>

<script>
	var elem2 = '<div class="textbox"><a href=""><p1>La réservation en ligne comprend notre petit-déjeuner, sans frais supplémentaires.</p1></a></div>';
$(document).ready(function(){
  $('.popover2').popover({content: elem2, trigger:"focus", html: true});
});
</script>

<script>
	var elem3 = '<div class="textbox"  ><a href=""><p1>Changement de plan? Dans la limite d`un préavis de 48 heures, vous pouvez annuler votre réservation sans aucune obligation.</p1></a></div>';
$(document).ready(function(){
  $('.popover3').popover({content: elem3, trigger:"focus", html: true});
});
</script>

<script>
	var elem4 = '<div class="textbox"  ><a href=""><p1>Pour des raisons de commodité et de flexibilité, nous ne vous demanderons pas de paiement à l`avance.</p1></a></div>';
$(document).ready(function(){
  $('.popover4').popover({content: elem4, trigger:"focus", html: true});
});
</script>

<script>
	var elem5 = '<div class="textbox"  ><a href=""><p1>Note de 4,6/5 points dans la section <i>Service</i> des avis Google au 10 juillet 2021.</p1></a></div>';
$(document).ready(function(){
  $('.popover5').popover({content: elem5, trigger:"focus", html: true});
});
</script>

<script>
	var elem6 = '<div class="textbox"  ><a href=""><p1>Note moyenne de 4,5/5 points pour les évaluations des voyageurs étiquetés comme <i>Voyage d` affaires</i> sur Expedia à partir du 10 juillet 2021.</p1></a></div>';
$(document).ready(function(){
  $('.popover6').popover({content: elem6, trigger:"focus", html: true});
});
</script>

<script>
	var elem7 = '<div class="textbox"  ><a href=""><p1>Note de 97/100 points sur la page <i>Location</i> de TripAdvisor à partir du 10 juillet 2021.</p1></a></div>';
$(document).ready(function(){
  $('.popover7').popover({content: elem7, trigger:"focus", html: true});
});
</script>



{% endblock %}
