{% extends "fr-base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href=" {% static 'styles/theriver_main_styles.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/about.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/responsive.css' %} ">
<link rel="stylesheet" href="{% static 'styles/sona-style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'styles/flaticon.css' %}" type="text/css">
{% endblock %}

{% block extra_header %}
		<li><a href="{% url 'frindex' %}">Index</a></li>
		<li><a href=" {% url 'frrooms' %} ">Chambres</a></li>
		<li><a href="{% url 'frdiscover' %}">Découvrez</a></li>
		<li><a href="{% url 'frindex' %}#ubicacion">Localisation</a></li>
{% endblock %}

{% block body_block %}

  <div class="header_content" style="background-image:url( {% static 'images/headerback1.jpg' %} )"></div>


{% load widget_tweaks %}



<!--
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>-->
    <!-- Page Preloder
    <div id="preloder">
        <div class="loadersona"></div>
    </div>-->


    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section" style="padding-bottom: 45px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Nos offres</h2>
                        <div class="bt-option">
                            <a href="#promocionweb">Promotion web </a>
                            <a href="">/</a>
                            <a href="#variasnoches">Réduction pour plusieurs nuits</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

		<hr style="width:40%; margin: auto; border: 1px solid darkgray;">

		<!-- About -->

		<div class="about" style="padding-top:25px;" id="promocionweb">

			<div class="container">
				<div class="row">

					<div class="col-xl-6 order-xl-1 order-1">
						<div class="about_title"><h1>Promotion web</h1></div>




					<!-- About Content -->

						<!-- <div class="about_images d-flex flex-row align-items-start justify-content-between flex-wrap">
							<div class="about_title"><h3>Garantía de precio mínimo</h3></div>
							<div class="about_title"><h3>Desayuno incluido</h3></div>
							<div class="about_title"><h3>Cancelación gratuita</h3></div>
							<div class="about_title"><h3>Sin pagos por adelantado</h3></div>
						</div>-->
						<div class="about_content">
							<div class="about_text">
								<p>Promotion applicable à toutes les réservations effectuées sur notre site web.</p>
								<p>Vous pouvez également bénéficier de cette promotion en nous appelant au +34 941 250244 ou en envoyant un courriel à hotelciudad@pretur.com.</p>
							</div>
							<!--<div class="about_sig"><img src=" {% static 'images/sig.png' %} " alt=""></div>-->
						</div>
					</div>

					<!-- About Images
					<div class="col-lg-6">
						<div class="about_images d-flex flex-row align-items-start justify-content-between flex-wrap">
							<img src=" {% static 'images/about_1.png' %} " alt="">
							<img src=" {% static 'images/about_2.png' %} " alt="">
							<img src=" {% static 'images/about_3.png' %} " alt="">
						</div>
					</div>-->


					<div class="col-xl-6 order-xl-2 order-2">
						<div class="about_content" style="margin-top: 0px; margin-left:10px">
							<div class="box" style="margin-top: 15px; margin-left:10px">

								<div class="popover1"><a class="textbox" tabindex="0" data-toggle="popover" placement="center" ><h3 align="right">Garantie de prix minimum</h3> </a></div>
								<!--<div class="icon-home"><img  src=" {% static 'images/icon-price1.svg' %} "> </div>-->

							</div>


						<div class="box" style="margin-top: 15px; margin-left:10px" >

							<div class="popover2"><a class="textbox"  tabindex="0" data-toggle="popover" data-container=".well" data-trigger="focus" ><h3> Petit-déjeuner inclus</h3> </a></div>
							<!--<div  class="icon-home"><img  src=" {% static 'images/icon-breakfast1.svg' %} "></div>-->
						</div>
						<div class="box" style="margin-top: 15px; margin-left:10px">

							<div class="popover3"><a class="textbox"  tabindex="0" data-toggle="popover"  data-trigger="focus" placement="up"> <h3>Annulation gratuite (48h)</h3> </a></div>
							<!--<div class="icon-home"><img  src=" {% static 'images/icon-cancelation3.svg' %} "></div>-->
						</div>
						<div class="box" style="margin-top: 15px; margin-left:10px">

							<div class="popover4"><a class="textbox"  tabindex="0" data-toggle="popover"  data-trigger="focus" placement="up"> <h3>Pas de paiement anticipé</h3></a></div>
							<!--<div class="icon-home"><img  src=" {% static 'images/icon-payment1.svg' %} "></div>-->
						</div>
						</div>
					</div>

			</div>

		</div>
		</div>




    <!-- Search model end -->

    <!-- Js Plugins-->
    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.nice-select.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery-ui.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.slicknav.js' %} "></script>
    <script src=" {% static 'jseurope/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'jseurope/main.js' %} "></script>

    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'styles/bootstrap-4.1.2/popper.js' %} "></script>
    <script src=" {% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/TweenMax.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/TimelineMax.min.js' %} "></script>
    <script src=" {% static 'plugins/scrollmagic/ScrollMagic.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/animation.gsap.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/ScrollToPlugin.min.js' %} "></script>
    <script src=" {% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %} "></script>
    <script src=" {% static 'plugins/easing/easing.js' %} "></script>
    <script src=" {% static 'plugins/progressbar/progressbar.min.js' %} "></script>
    <script src=" {% static 'plugins/parallax-js-master/parallax.min.js' %} "></script>
    <script src=" {% static 'plugins/jquery-datepicker/jquery-ui.js' %} "></script>
    <script src=" {% static 'plugins/colorbox/jquery.colorbox-min.js' %} "></script>
    <script src=" {% static 'js/custom.js' %} "></script>
    <script src=" {% static 'js/about.js' %} "></script>

		<script>
		$(document).ready(function(){
		  $('[data-toggle="popover"]').popover({
		    container: '.well'
		  });
		});
		</script>



		<script>
			var elem1 = '<div class="textbox"><a href=""><p1>Si vous trouvez un prix inférieur à celui proposé sur notre site web pour les mêmes dates, veuillez nous contacter.</p1></a></div>';
		$(document).ready(function(){
		  $('.popover1').popover({content: elem1, trigger:"focus", html: true});
		});
		</script>

		<script>
			var elem2 = '<div class="textbox"><a href=""><p1>La réservation en ligne comprend notre petit-déjeuner, sans frais supplémentaires.</p1></a></div>';
		$(document).ready(function(){
		  $('.popover2').popover({content: elem2, trigger:"focus", html: true});
		});
		</script>

		<script>
			var elem3 = '<div class="textbox"  ><a href=""><p1>Changement de plan? Dans la limite d`un préavis de 48 heures, vous pouvez annuler votre réservation sans aucune obligation.</p1></a></div>';
		$(document).ready(function(){
		  $('.popover3').popover({content: elem3, trigger:"focus", html: true});
		});
		</script>

		<script>
			var elem4 = '<div class="textbox"  ><a href=""><p1>Pour des raisons de commodité et de flexibilité, nous ne vous demanderons pas de paiement à l`avance.</p1></a></div>';
		$(document).ready(function(){
		  $('.popover4').popover({content: elem4, trigger:"focus", html: true});
		});
		</script>


{% endblock %}
