{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href=" {% static 'styles/theriver_main_styles.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/about.css' %} ">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/responsive.css' %} ">
<link rel="stylesheet" href="{% static 'styles/europestyle.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'styles/sona-style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'styles/flaticon.css' %}" type="text/css">
{% endblock %}

{% block extra_header %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li  class="active"><a href=" {% url 'rooms' %} ">Habitaciones</a></li>
    <li><a href="{% url 'servicios' %}">Servicios</a></li>
    <li><a href=" {% url 'inicio' %}#ubicacion ">Ubicación</a></li>
{% endblock %}

{% block body_block %}

  <div class="header_content" style="background-image:url( {% static 'images/headerback1.jpg' %} )"></div>


{% load widget_tweaks %}



<!--
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>-->
    <!-- Page Preloder
    <div id="preloder">
        <div class="loadersona"></div>
    </div>-->


    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Nuestras habitaciones</h2>
                        <div class="bt-option">
                            <a href="#amenities">Amenities</a>
                            <a href="">/</a>
                            <a href="#vistas">Vistas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{% static 'images/habitacion2mod.jpg' %}" alt="">
                        <div class="ri-text">
                            <h4>Habitación Doble </h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Tamaño:</td>
                                        <td>25 m<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>Dos personas</td>

                                    </tr>

                                    <tr>
                                        <td class="r-o" >Camas:</td>
                                        <td>Dos camas individuales</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o" ></td>
                                        <td>(90 x 190 cm)</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{% static 'images/habitacion1mod.jpg' %}" alt="">
                        <div class="ri-text">
                            <h4>Habitación individual</h4>

                            <table>
                                <tbody>
                                    <tr>
                                      <td class="r-o">Tamaño:</td>
                                      <td>21 m<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                      <td class="r-o">Capacidad:</td>
                                      <td>Una persona</td>
                                    </tr>
                                    <tr>
                                      <td class="r-o" >Camas:</td>
                                      <td>Cama individual</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o" ></td>
                                        <td>(135 x 190 cm)</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{% static 'images/habitacion3mod.jpg' %}" alt="">
                        <div class="ri-text">
                            <h4>Habitación matrimonial</h4>
                            <table>
                              <tbody>
                                  <tr>
                                      <td class="r-o">Tamaño:</td>
                                      <td>25 m<sup>2</sup></td>
                                  </tr>
                                  <tr>
                                      <td class="r-o">Capacidad:</td>
                                      <td>Dos personas</td>

                                  </tr>

                                  <tr>
                                      <td class="r-o" >Camas:</td>
                                      <td>Cama doble</td>
                                  </tr>


                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Room Section Begin -->
    <section class="room-section">
        <div class="container-fluid">
            <div class="row" id="amenities">
                <div class="col-lg-6">
                    <div class="ri-slider-item">
                        <div class="ri-sliders owl-carousel">
                          <div class="single-img set-bg" data-setbg=" {% static 'images/habitacion1.jpg' %} "></div>
                          <div class="single-img set-bg" data-setbg=" {% static 'images/habitacion2mod.jpg' %} "></div>
                          <div class="single-img set-bg" data-setbg=" {% static 'images/habitacion3.jpg' %} "></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ri-text" style="padding-top: 60px">
                        <div class="section-title">
                            <div class="section-title">

                                <h2>Un lugar para descansar</h2>
                            </div>
                            <span>Amplitud</span>
                            <p>Nuestras habitaciones se caracterizan por su amplio tamaño, óptimo para su comodidad. Disponen de armarios, espejos de cuerpo entero, escritorios y baños con bañera.</p>
                            <span>Sistema de calidad</span>
                            <p>Contamos con un estricto sistema de calidad para garantizar su descanso en las mejores condiciones.</p>
                            <span>Amenities</span>
                            <div class="ri-features">
                                <div class="ri-info">
                                    <i class="flaticon-019-television"></i>
                                    <p>TV</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-029-wifi"></i>
                                    <p>Wi-fi</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-020-telephone"></i>
                                    <p>Teléfono</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-003-air-conditioner"></i>
                                    <p>AC</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-036-parking"></i>
                                    <p>Parking (€)</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-030-bathtub"></i>
                                    <p>Bañera</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-023-hair-dryer"></i>
                                    <p>Secador</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-011-no-smoking"></i>
                                    <p>Sin humo</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-049-power-socket"></i>
                                    <p>Enchufes</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-024-towel"></i>
                                    <p>Toallas</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="vistas">
                <div class="col-lg-6 order-lg-2">
                    <div class="ri-slider-item">
                        <div class="ri-sliders owl-carousel">
                          <div class="single-img set-bg" data-setbg=" {% static 'images/parque1.jpg' %} "></div>
                          <div class="single-img set-bg" data-setbg=" {% static 'images/parque2.jpg' %} "></div>
                          <div class="single-img set-bg" data-setbg=" {% static 'images/parque3.jpg' %} "></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="ri-text left-side">
                        <div class="section-title">
                            <div class="section-title">
                                <h2>Disfrute de agradables vistas</h2>
                            </div>
                            <p>Frente al hotel podrán encontrar el Parque Gallarza, un tranquilo espacio abierto cuyas vistas
                              agradecen muchos de nuestros clientes. Si quiere asegurarse una habitación exterior, por favor
                              háganoslo saber escribiéndonos un breve correo, y pronto le comunicaremos si se la podemos ofrecer
                              sin ningún tipo de coste adicional.
                           </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->





    <!-- Search model end -->

    <!-- Js Plugins-->
    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.magnific-popup.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.nice-select.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery-ui.min.js' %} "></script>
    <script src=" {% static 'jseurope/jquery.slicknav.js' %} "></script>
    <script src=" {% static 'jseurope/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'jseurope/main.js' %} "></script>

    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static 'styles/bootstrap-4.1.2/popper.js' %} "></script>
    <script src=" {% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/TweenMax.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/TimelineMax.min.js' %} "></script>
    <script src=" {% static 'plugins/scrollmagic/ScrollMagic.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/animation.gsap.min.js' %} "></script>
    <script src=" {% static 'plugins/greensock/ScrollToPlugin.min.js' %} "></script>
    <script src=" {% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %} "></script>
    <script src=" {% static 'plugins/easing/easing.js' %} "></script>
    <script src=" {% static 'plugins/progressbar/progressbar.min.js' %} "></script>
    <script src=" {% static 'plugins/parallax-js-master/parallax.min.js' %} "></script>
    <script src=" {% static 'plugins/jquery-datepicker/jquery-ui.js' %} "></script>
    <script src=" {% static 'plugins/colorbox/jquery.colorbox-min.js' %} "></script>
    <script src=" {% static 'js/custom.js' %} "></script>
    <script src=" {% static 'js/about.js' %} "></script>



{% endblock %}
